<!DOCTYPE html>
<html>
<head>
  <title>Moje strony <%= page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav" class="navigation-bar">
    <% if current_user %>
      <%= link_to "Edytuj profil", edit_user_path(current_user.id) %>
      <%= link_to "Wyloguj", :logout, method: :post %>
    <% else %>
      <%= link_to "Rejestracja", new_user_path %> |
      <%= link_to "Logowanie", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>

</body>
</html>
